.container {
    background-color: #FFF;
    display: flex;
    flex-direction: column;

    .links {
        display: grid;
        gap: 21px;
        padding: 46px;
        justify-content: flex-start;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        /* margin: auto; */
        margin-left: 20%;
        
        @media (max-width: 768px) {
            flex-direction: column;
        }
        
        .text {
            display: grid;
            gap: 12px;
            padding: 46px;
            justify-content: flex-start;
    
            .name {
                color: #0CA084;
                font-family: "Gothic A1";
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 6.4px;
            }
    
            .section {
                margin-top: 24px;
                display: grid;
                gap: 17px;
             
                .title {
                    color: #000;
                    font-family: "Gothic A1";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 3.2px;
                }
    
                .description {
                    color: #000;
                    font-family: "Gothic A1";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.4px;
                }

                .readMore {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 6px;
                    color: #0CA084;
                    font-family: "Gothic A1";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.4px;
                }
            }
        }
    
        .image {
            display: grid;
            gap: 12px;
            padding: 46px;
            justify-content: flex-start;
            
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                
                @media (min-width: 768px) {
                    width: 300px;
                }
                
                @media (min-width: 1024px) {
                    width: 400px;
                }
            }
        }
    }
}